cffi==1.17.1
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.0.2
pyaudio==0.2.14
pycparser==2.22
pygments==2.19.2
rich==14.1.0
scipy==1.13.1
sounddevice==0.5.2
soundfile==0.13.1
speechrecognition==3.14.3
typing-extensions==4.15.0
